/.github/CODEOWNERS @voxrapp/developers
/.github/workflows/ @voxrapp/developers
/voxr_marketing @voxrapp/developers
/.gitmodules @voxrapp/developers
/.github/workflows/dispatch-private-marketing-build.yaml @voxrapp/developers
/packages/i18n/marketing/ @voxrapp/developers
/scripts/setup-private-marketing.sh @voxrapp/developers
