/* SPDX-License-Identifier: AGPL-3.0-or-later */

.welcomeSection {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	display: flex;
	min-width: 0;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 4rem;
	margin-top: auto;
	color: var(--text-primary);
}

.profileSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.avatarButton {
	cursor: pointer;
	border-radius: var(--radius-full);
	border: none;
	background-color: transparent;
	padding: 0;
	outline: none;
}

.usernameButton {
	cursor: pointer;
	border-radius: var(--radius-md);
	border: none;
	background-color: transparent;
	padding: 0;
	outline: none;
}

.username {
	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.25;
	color: var(--text-primary);
}

.welcomeText {
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.actionSection {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.mutualGuildsContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.guildIconWrapper {
	position: relative;
	overflow: hidden;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--background-secondary);
}

.guildIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	--guild-icon-size: 2rem;
}

.mutualGuildsText {
	color: var(--text-primary-muted);
}

.actionButtonsContainer {
	display: flex;
	gap: 0.5rem;
}
