/* SPDX-License-Identifier: AGPL-3.0-or-later */

.matureBlurred {
	filter: blur(0.625rem);
	cursor: pointer;
	transition: filter 0.2s;
}

.matureStickerBlurred {
	filter: blur(0.625rem);
	cursor: pointer;
	transition: filter 0.2s;
}
