/* SPDX-License-Identifier: AGPL-3.0-or-later */

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.dot {
	animation: 1s blink infinite;
	color: var(--text-chat);
}

.dot:nth-child(2) {
	animation-delay: 250ms;
}

.dot:nth-child(3) {
	animation-delay: 500ms;
}

:global(html.reduced-motion) .dot {
	animation-duration: 1s !important;
	animation-iteration-count: infinite !important;
}

:global(html:not(.window-focused):not(.unfocused-fully-interactive)) .dot {
	animation-play-state: paused;
	opacity: 1;
}
