# SPDX-License-Identifier: AGPL-3.0-or-later
-name ${VOXR_ERLANG_NODE_NAME}
-setcookie ${VOXR_ERLANG_COOKIE}
+K true
+A16
-env ERL_MAX_PORTS 4096
-env ERL_PROCESSES 262144
+P 262144
+Q 65536
+S 6:6
+SDcpu 4:4
+SDio 8
+sbwt none
+sbwtdcpu none
+sbwtdio none
+zdbbl 32768
+MBacul 0
+MBramv true
+hms 233
+hmbs 46422
-kernel logger_level warning
-kernel inet_dist_listen_min ${VOXR_ERLANG_DIST_PORT}
-kernel inet_dist_listen_max ${VOXR_ERLANG_DIST_PORT}
-kernel prevent_overlapping_partitions false
