/* SPDX-License-Identifier: AGPL-3.0-or-later */

.row {
	display: flex;
	min-height: 0;
	align-items: center;
	gap: 1rem;
	border-bottom: 0.0625rem solid var(--background-header-secondary);
	padding: 0.75rem 1rem;
}

.feature {
	min-width: 0;
	flex: 1 1 0%;
}

.featureText {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-primary);
}

@media (min-width: 768px) {
	.featureText {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.valuesContainer {
	display: flex;
	min-width: 0;
	flex-shrink: 0;
	align-items: center;
	gap: 1rem;
}

.restrictedValue {
	width: 5rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-primary-muted);
}

@media (min-width: 768px) {
	.restrictedValue {
		width: 6rem;
	}
}

.stockValue {
	width: 5rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--status-online);
}

@media (min-width: 768px) {
	.stockValue {
		width: 6rem;
	}
}
