/* SPDX-License-Identifier: AGPL-3.0-or-later */

.previewLabel {
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 500;
	font-size: 0.875rem;
	color: var(--text-primary-muted);
}

.profileCard {
	position: relative;
	display: flex;
	width: var(--profile-card-width, 18.75rem);
	flex-direction: column;
	gap: 0.25rem;
	overflow: visible;
	border-radius: 0.375rem;
	border-style: solid;
	border-width: var(--profile-card-border-width, 0.15625rem);
	background-color: var(--background-primary);
	padding-bottom: 0.75rem;
}
