/* SPDX-License-Identifier: AGPL-3.0-or-later */

.contentSection {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.contentSectionWebhook {
	padding-bottom: 1rem;
}
