/* SPDX-License-Identifier: AGPL-3.0-or-later */

.filterButton {
	display: flex;
	height: 2rem;
	width: 2rem;
	align-items: center;
	justify-content: center;
	border-radius: 0.375rem;
	color: var(--text-primary);
	background-color: transparent;
	transition:
		color 0.1s ease,
		background-color 0.1s ease;
	cursor: pointer;
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.filterButton:hover {
	background-color: var(--background-modifier-hover);
}

.filterButtonActive {
	background-color: var(--background-modifier-selected);
}

.scroller {
	flex: 1;
	min-height: 0;
	min-width: 0;
	padding: 0 0.75rem 0.75rem;
}

.guildGroup {
	min-width: 0;
}

.messageCard {
	margin-bottom: 1rem;
}

.iconMedium {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 1rem;
	width: 1rem;
}
