/* SPDX-License-Identifier: AGPL-3.0-or-later */

.sectionsContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sectionHeader {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	border-top: 0.0625rem solid var(--background-header-secondary);
	padding-top: 1rem;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.itemHeader {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.itemLabel {
	display: inline-block;
	white-space: nowrap;
	font-family: monospace;
	font-size: 0.875rem;
	color: var(--text-tertiary);
}
