/* SPDX-License-Identifier: AGPL-3.0-or-later */

.divider {
	background: var(--studio-border);
	flex-shrink: 0;
}

.horizontal {
	height: 0.0625rem;
	width: 100%;
}

.vertical {
	width: 0.0625rem;
	align-self: stretch;
}
