/* SPDX-License-Identifier: AGPL-3.0-or-later */

.key {
	display: inline-flex;
	height: 2rem;
	min-width: 2rem;
	user-select: none;
	-webkit-user-select: none;
	align-items: center;
	justify-content: center;
	border-radius: 0.375rem;
	border: 0.0625rem solid var(--background-modifier-accent);
	background-color: var(--background-tertiary);
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-weight: 500;
	font-family: var(--font-keybind);
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-primary);
	box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.05);
}

.keyWide {
	min-width: 3rem;
}
