/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	text-align: center;
}

.iconContainer {
	margin-bottom: 1.5rem;
}

.iconCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	margin: 0 auto;
	border-radius: 624.9375rem;
}

.iconCircleSuccess {
	background-color: var(--status-online);
}

.iconCircleError {
	background-color: var(--status-danger);
}

.icon {
	height: 1.5rem;
	width: 1.5rem;
	color: var(--text-primary);
}

.title {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	letter-spacing: 0.025em;
	color: var(--text-primary);
}

.description {
	margin-bottom: 1.5rem;
	color: var(--text-tertiary);
}

.footer {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.link {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-link);
	text-decoration: none;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	cursor: pointer;
}

.link:hover {
	color: var(--text-link);
	text-decoration: underline;
}

.loadingPlaceholder {
	margin-bottom: 1rem;
	height: 1.75rem;
}

.descriptionPlaceholder {
	margin-bottom: 1.5rem;
	height: 1.5rem;
}
