/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
}

.title {
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	letter-spacing: 0.025em;
	color: var(--text-primary);
}

.description {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-tertiary);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	text-align: center;
}

.link {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-tertiary);
	text-decoration: none;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	cursor: pointer;
}

.link:hover {
	color: var(--text-primary);
	text-decoration: underline;
}

.primaryLink {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-link);
	text-decoration: none;
	transition-property: color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	cursor: pointer;
}

.primaryLink:hover {
	color: var(--text-link);
	text-decoration: underline;
}

.footerLabel {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-tertiary);
}
