/* SPDX-License-Identifier: AGPL-3.0-or-later */

.text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.8125rem;
	line-height: 1;
	color: var(--text-primary);
}

.controls {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	flex-shrink: 0;
	border: none;
	background-color: transparent;
	width: var(--composer-action-button-size, 2rem);
	height: var(--composer-action-button-size, 2rem);
	padding: 0;
	color: var(--text-primary-muted);
	line-height: 0;
	transition: color 200ms;
}

.button:hover {
	color: var(--text-primary);
}

.icon {
	height: 1rem;
	width: 1rem;
}
