/* SPDX-License-Identifier: AGPL-3.0-or-later */

.channelLayoutContainer {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	height: 100%;
	min-height: 0;
	width: 100%;
	max-width: 100%;
	min-width: 0;
	background-color: var(--background-tertiary);
	overflow: hidden;
}

.channelNotFoundContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-4);
	height: 100%;
	min-height: 0;
	width: 100%;
	min-width: 0;
	padding: var(--spacing-8);
}

.channelNotFoundContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-1);
	text-align: center;
}

.channelNotFoundIcon {
	height: 4rem;
	width: 4rem;
	color: var(--text-tertiary);
}

.channelNotFoundTitle {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--text-primary);
}

.channelNotFoundDescription {
	color: var(--text-tertiary);
}
