/* SPDX-License-Identifier: AGPL-3.0-or-later */

.iconCircle {
	display: flex;
	height: 2.75rem;
	width: 2.75rem;
	align-items: center;
	justify-content: center;
	border-radius: 624.9375rem;
}

@media (min-width: 640px) {
	.iconCircle {
		height: 3rem;
		width: 3rem;
	}
}

.iconCircleActive {
	background: linear-gradient(to bottom right, rgb(168 85 247 / 1), rgb(236 72 153 / 1));
}

.iconCircleInactive {
	background: linear-gradient(to bottom right, rgb(168 85 247 / 0.5), rgb(236 72 153 / 0.5));
}

.iconCircleDisabled {
	background-color: var(--background-tertiary);
}

.icon {
	height: 1.25rem;
	width: 1.25rem;
	color: white;
}

@media (min-width: 640px) {
	.icon {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.iconError {
	color: var(--text-tertiary);
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	font-size: 0.95em;
}

@media (min-width: 640px) {
	.title {
		font-size: 1em;
	}
}

.titlePrimary {
	color: var(--text-primary);
}

.titleTertiary {
	color: var(--text-tertiary);
}

.titleDanger {
	color: var(--status-danger);
}

.subRow {
	margin-bottom: 0.25rem;
	color: var(--text-secondary);
	font-size: 0.7em;
	line-height: 1.25;
	min-height: 1.285714em;
}

@media (min-width: 640px) {
	.subRow {
		font-size: 0.8em;
		line-height: 1.25;
		min-height: 1.25em;
	}
}

.helpRow {
	color: var(--text-tertiary);
	font-size: 0.7em;
	min-height: 1.285714em;
}

@media (min-width: 640px) {
	.helpRow {
		font-size: 0.8em;
		min-height: 1.25em;
	}
}

.skeleton {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	border-radius: 624.9375rem;
	background-color: var(--background-tertiary);
}

.skeletonCircle {
	height: 2.75rem;
	width: 2.75rem;
}

@media (min-width: 640px) {
	.skeletonCircle {
		height: 3rem;
		width: 3rem;
	}
}

.skeletonTitle {
	height: 1.1rem;
	width: 7rem;
	border-radius: 0.25rem;
}

@media (min-width: 640px) {
	.skeletonTitle {
		height: 1.25rem;
		width: 7rem;
	}
}

.skeletonHelp {
	height: 0.9rem;
	width: 6.5rem;
	border-radius: 0.25rem;
}

@media (min-width: 640px) {
	.skeletonHelp {
		height: 1rem;
		width: 7.5rem;
	}
}

.skeletonButton {
	height: 2.25rem;
	width: 100%;
	border-radius: 0.375rem;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
