/* SPDX-License-Identifier: AGPL-3.0-or-later */

.header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.headerCenter {
	align-items: center;
	text-align: center;
}

.title {
	font-weight: bold;
	font-size: 1.25rem;
	line-height: 1.75rem;
	color: var(--text-primary);
}

.description {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-primary-muted);
}

@media (min-width: 768px) {
	.description {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
