/* SPDX-License-Identifier: AGPL-3.0-or-later */

.previewWrapper {
	background: var(--background-secondary-lighter);
}

.previewContainer {
	display: flex;
	flex-direction: column;
	height: 11rem;
	overflow: hidden;
	position: relative;
	padding: 0.125rem 0.75rem 0.375rem;
	padding-bottom: 0;
	border-radius: 0.5rem;
	border: 0.0625rem solid var(--background-modifier-accent);
}

.previewMessagesContainer {
	flex: 1;
	min-height: 0;
	padding: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	--chat-horizontal-padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
}

.previewContainerCompact .previewMessagesContainer,
.previewContainerCozy .previewMessagesContainer {
	justify-content: flex-start;
}

.previewMessagesContainer :global(.message),
.previewMessagesContainer :global(.messageCompact) {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-right: var(--chat-horizontal-padding, 1rem) !important;
	pointer-events: none;
}

.previewMessagesContainer > :first-child {
	margin-top: 0 !important;
}

.previewOverlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: default;
	content: '';
	pointer-events: none;
	height: 2rem;
	background: linear-gradient(transparent, var(--background-secondary-lighter));
}

.buttonRowsContainer {
	display: flex;
	flex-direction: column;
	margin: -1rem 0;
}

.buttonRow {
	display: flex;
	height: 4.25rem;
	align-items: center;
	border-bottom: 0.0625rem solid var(--background-modifier-accent);
}

.buttonRowsContainer > .buttonRow:last-child {
	border-bottom: 0;
}

.buttonRowContent {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.buttonRowLabel {
	display: flex;
	flex: 1;
	align-items: center;
	gap: 0.5rem;
}

.buttonRowShortcut {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
