/* SPDX-License-Identifier: AGPL-3.0-or-later */

.root {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--background-primary);
	color: var(--text-primary);
}

.content {
	position: relative;
	flex: 1 1 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
}
