/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.header {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.subtitle {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-primary-muted);
}

.spinnerContainer {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

.notice {
	border-radius: 0.375rem;
	border: 0.0625rem solid var(--background-header-secondary);
	background-color: var(--background-tertiary);
	padding: 1.5rem;
}

.noticeText {
	text-align: center;
	color: var(--text-primary-muted);
}

.invitesContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.inviteList {
	display: flex;
	flex-direction: column;
}

.inviteItems {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
