/* SPDX-License-Identifier: AGPL-3.0-or-later */

.header {
	margin-bottom: 1rem;
}

.title {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 1.25rem;
}

.description {
	font-size: 0.875rem;
	color: var(--text-primary-muted);
}

.switches {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
