# SPDX-License-Identifier: AGPL-3.0-or-later
[Desktop Entry]
Name=Voxr Canary
GenericName=Instant Messenger
Comment=Canary build of Voxr
Exec=app.voxr.VoxrCanary %U
TryExec=app.voxr.VoxrCanary
Icon=app.voxr.VoxrCanary
Type=Application
Categories=Network;InstantMessaging;Chat;
Keywords=chat;im;messaging;messenger;voip;voice;video;call;
StartupWMClass=app.voxr.VoxrCanary
SingleMainWindow=true
StartupNotify=true
MimeType=x-scheme-handler/voxr;
Terminal=false
X-GNOME-UsesNotifications=true
Actions=open-settings;new-dm;

[Desktop Action open-settings]
Name=Open Settings
Exec=app.voxr.VoxrCanary --voxr-task=open-settings %U

[Desktop Action new-dm]
Name=New Direct Message
Exec=app.voxr.VoxrCanary --voxr-task=new-dm %U
