# SPDX-License-Identifier: AGPL-3.0-or-later
[Desktop Entry]
Name=Voxr
GenericName=Instant Messenger
Comment=Instant messaging and VoIP
Exec=app.voxr.Voxr %U
TryExec=app.voxr.Voxr
Icon=app.voxr.Voxr
Type=Application
Categories=Network;InstantMessaging;Chat;
Keywords=chat;im;messaging;messenger;voip;voice;video;call;
StartupWMClass=app.voxr.Voxr
SingleMainWindow=true
StartupNotify=true
MimeType=x-scheme-handler/voxr;
Terminal=false
X-GNOME-UsesNotifications=true
Actions=open-settings;new-dm;

[Desktop Action open-settings]
Name=Open Settings
Exec=app.voxr.Voxr --voxr-task=open-settings %U

[Desktop Action new-dm]
Name=New Direct Message
Exec=app.voxr.Voxr --voxr-task=new-dm %U
