/* SPDX-License-Identifier: AGPL-3.0-or-later */

.description {
	margin-top: 1rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--text-secondary);
}

.status {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: var(--text-secondary);
	text-align: center;
}
