/* SPDX-License-Identifier: AGPL-3.0-or-later */

.iconButton {
	display: flex;
	height: 1rem;
	width: 1rem;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 624.9375rem;
	border: none;
	background-color: transparent;
	padding: 0;
	transition: color 200ms;
}

.iconButtonDefault {
	color: var(--text-primary-muted);
	cursor: pointer;
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.iconButtonDefault:hover {
	color: var(--text-primary);
}

.iconButtonSelected {
	color: var(--surface-interactive-selected-color);
	cursor: pointer;
}

.iconButtonSelected:hover {
	color: var(--surface-interactive-selected-color);
}

.icon {
	height: 1rem;
	width: 1rem;
}

.iconFocusRing {
	border-radius: 624.9375rem;
}
