/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.icon {
	height: 1rem;
	width: 1rem;
}

.iconMuted {
	color: var(--text-primary-muted);
}

.iconGuildAction {
	color: rgb(239 68 68);
}
