/* SPDX-License-Identifier: AGPL-3.0-or-later */

.button {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	border: none;
	background-color: transparent;
	padding: 0;
}

.iconText {
	height: 1.25rem;
	width: 1.25rem;
	color: var(--text-primary);
}

.menuIcon {
	height: 1rem;
	width: 1rem;
}
