/* SPDX-License-Identifier: AGPL-3.0-or-later */

.button {
	border: none;
	background-color: transparent;
	padding: 0;
}

.relative {
	position: relative;
}

.fullSize {
	height: 100%;
	width: 100%;
}

.muted {
	color: var(--text-tertiary-muted);
	opacity: 0.5;
}
