/* SPDX-License-Identifier: AGPL-3.0-or-later */

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.375rem;
	border: 0.0625rem solid var(--background-header-secondary);
	background-color: var(--background-secondary);
	padding: 1rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.stats {
	margin-top: 0.25rem;
	display: flex;
	gap: 1rem;
	color: var(--text-primary-muted);
	font-size: 0.75rem;
	line-height: 1rem;
}

.description {
	color: var(--text-primary-muted);
	font-size: 0.75rem;
	line-height: 1rem;
}

.icon {
	height: 1rem;
	width: 1rem;
}

.uploadButtonDesktop {
	display: block;
}

.uploadButtonMobile {
	display: none;
}

@media (max-width: 480px) {
	.uploadButtonDesktop {
		display: none;
	}

	.uploadButtonMobile {
		display: block;
		margin-top: 0.5rem;
	}

	.uploadButtonMobile button {
		width: 100%;
	}
}
