{
	"openapi": "3.0.3",
	"info": {
		"title": "Voxr API",
		"version": "1.0.0",
		"description": "API for Voxr, a free and open source instant messaging and VoIP chat app built for friends, groups, and communities.",
		"contact": {"name": "Voxr Platform AB", "email": "support@voxr.app"},
		"license": {"name": "AGPL-3.0", "url": "https://www.gnu.org/licenses/agpl-3.0.html"}
	},
	"servers": [{"url": "https://api.voxr.app/v1", "description": "Production API"}],
	"paths": {
		"/admin/acls": {
			"get": {
				"operationId": "list_admin_acls",
				"summary": "List admin permissions",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminAclListResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns every access control permission the admin API recognises. This is the registry admin accounts and admin API keys draw their permissions from. Requires AUTHENTICATE permission.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/api-keys": {
			"post": {
				"operationId": "create_admin_api_key",
				"summary": "Create admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAdminApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Generates a new API key for administrative operations. The key is returned only once at creation time. Includes expiration settings and access control lists (ACLs) to limit the key's permissions.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAdminApiKeyRequest"}}}
				}
			},
			"get": {
				"operationId": "list_admin_api_keys",
				"summary": "List admin API keys",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ListAdminApiKeyResponse"}}
							}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve all API keys created by the authenticated admin. Returns metadata including creation time, last used time, and assigned permissions. The actual key material is not returned.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/api-keys/{key_id}": {
			"get": {
				"operationId": "get_admin_api_key",
				"summary": "Get admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListAdminApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves a single API key created by the authenticated admin. Returns metadata including creation time, last used time, and assigned permissions. The actual key material is never returned.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "key_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the key"
					}
				]
			},
			"patch": {
				"operationId": "update_admin_api_key",
				"summary": "Update admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListAdminApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Renames an API key or replaces the access control lists (ACLs) it carries. The key may only carry permissions the acting admin already holds. Omitted fields are left unchanged and the key material is never rotated or returned.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "key_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the key"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateAdminApiKeyRequest"}}}
				}
			},
			"delete": {
				"operationId": "delete_admin_api_key",
				"summary": "Revoke admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Revokes an API key, immediately invalidating it for all future operations. This action cannot be undone.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "key_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the key"
					}
				]
			}
		},
		"/admin/applications": {
			"get": {
				"operationId": "list_admin_applications",
				"summary": "List applications",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListApplicationsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lists OAuth2 applications and bots. Pass owner_id to list the applications a user owns, or guild_id to list the applications whose bot users are members of a guild. Exactly one of the two is required. owner_id requires APPLICATION_LIST_BY_OWNER permission, guild_id requires APPLICATION_LOOKUP permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "owner_id",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					},
					{
						"name": "guild_id",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					}
				]
			}
		},
		"/admin/applications/{application_id}": {
			"get": {
				"operationId": "get_admin_application",
				"summary": "Get application",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LookupApplicationResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves complete application details including ownership, bot user, OAuth2 redirect URIs, and credential status. Requires APPLICATION_LOOKUP permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "application_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the OAuth2 application"
					}
				]
			},
			"patch": {
				"operationId": "update_admin_application",
				"summary": "Update application",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationUpdateResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Updates an application. Transfers ownership to the user given by new_owner_id, which is used when the owner is inactive or for administrative recovery. Logged to audit log. Requires APPLICATION_TRANSFER_OWNERSHIP permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "application_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the OAuth2 application"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/TransferApplicationOwnershipRequest"}}
					}
				}
			}
		},
		"/admin/archives": {
			"get": {
				"operationId": "list_admin_archives",
				"summary": "List archives",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListArchivesResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query and filter created archives by type (user or guild), subject ID, requestor, and expiration status. Admins with limited ACLs see only archives matching their permissions.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "subject_type",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "enum": ["user", "guild", "all"], "description": "Type of archives to list"}
					},
					{
						"name": "subject_id",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					},
					{
						"name": "requested_by",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Maximum number of archives to return (1-200, default 50)"}
					},
					{
						"name": "include_expired",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Whether to include archives past their expires_at"}
					}
				]
			}
		},
		"/admin/archives/{subject_type}/{subject_id}/{archive_id}": {
			"get": {
				"operationId": "get_admin_archive",
				"summary": "Get archive details",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetArchiveResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve metadata for a specific archive including its status, creation time, expiration, and file location. Does not return the archive contents themselves.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "subject_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subject type"
					},
					{
						"name": "subject_id",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subject id"
					},
					{
						"name": "archive_id",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The archive id"
					}
				]
			}
		},
		"/admin/archives/{subject_type}/{subject_id}/{archive_id}/download": {
			"get": {
				"operationId": "get_admin_archive_download",
				"summary": "Get archive download URL",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DownloadUrlResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Generate a time-limited download link to the archive file. The URL provides direct access to download the compressed archive contents.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "subject_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subject type"
					},
					{
						"name": "subject_id",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subject id"
					},
					{
						"name": "archive_id",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The archive id"
					}
				]
			}
		},
		"/admin/audit-logs": {
			"get": {
				"operationId": "list_admin_audit_logs",
				"summary": "List admin audit logs",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuditLogsListResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve a paginated page of audit logs with optional filtering by acting admin, target type, or target ID. Passing q runs a full-text search across the audit log index instead of paging through the log in order, and sort_by with sort_order then order the matches. Used for tracking administrative operations, compliance auditing, and incident response.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "q",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Free-text query run against the audit log search index"}
					},
					{
						"name": "admin_user_id",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					},
					{
						"name": "target_type",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Filter by target entity type"}
					},
					{
						"name": "target_id",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"description": "Filter by target entity ID (user, channel, role, invite code, etc.)"
						}
					},
					{
						"name": "sort_by",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["createdAt", "relevance"],
							"description": "Field to sort audit logs by"
						}
					},
					{
						"name": "sort_order",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "enum": ["asc", "desc"], "description": "Sort order direction"}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Maximum number of entries to return"}
					},
					{
						"name": "offset",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Number of entries to skip"}
					}
				]
			}
		},
		"/admin/audit-logs/{log_id}": {
			"get": {
				"operationId": "get_admin_audit_log",
				"summary": "Get admin audit log entry",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminAuditLogResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve a single admin audit log entry by ID, with the same resolved user, guild, and channel summaries the listing returns. Used to inspect one administrative operation during compliance investigations or incident response.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{"name": "log_id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "The log id"}
				]
			}
		},
		"/admin/blocklists": {
			"get": {
				"operationId": "list_admin_blocklist_types",
				"summary": "List blocklists",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBlocklistTypeListResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "List every blocklist this instance maintains, the request field that carries an entry value, the extra fields its entries accept, and which of the bulk and update operations it supports.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/blocklists/{list_type}/entries": {
			"get": {
				"operationId": "list_admin_blocklist_entries",
				"summary": "List blocklist entries",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/AdminBlocklistEntryListResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Page through the entries of a blocklist, ordered by value. Pass the next_after cursor of the previous page as after to fetch the next page. The profile-substring blocklist requires a scope.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Maximum number of entries to return"}
					},
					{
						"name": "after",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"description": "Return entries ordered after this value, taken from the next_after cursor of the previous page"
						}
					},
					{
						"name": "scope",
						"in": "query",
						"required": false,
						"schema": {
							"enum": ["username", "global_name", "nickname", "bio", "pronouns"],
							"type": "string",
							"description": "Profile field to list. Required on the profile-substring blocklist and rejected on every other blocklist."
						}
					}
				]
			},
			"post": {
				"operationId": "create_admin_blocklist_entry",
				"summary": "Add blocklist entry",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Add a value to a blocklist. The request body is the shape the blocklist named by list_type accepts, and the value is validated and canonicalized for that blocklist. Adding an IP address that is on the instance exemption list, or that IPInfo reports as a high blast-radius carrier NAT, is refused with 400 IP_BAN_DECLINED and recorded in the audit log.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBlocklistEntryCreateRequest"}}}
				}
			},
			"put": {
				"operationId": "bulk_create_admin_blocklist_entries",
				"summary": "Bulk-add blocklist entries",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkJobResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Enqueue a background job that adds many entries to a blocklist at once. Returns a job_id immediately; observe progress at /admin/jobs/:job_id. Only the file-sha blocklist accepts this operation, reported as supports_bulk_create by GET /admin/blocklists.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkBanFileShasRequest"}}}
				}
			},
			"delete": {
				"operationId": "bulk_delete_admin_blocklist_entries",
				"summary": "Bulk-remove blocklist entries",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Remove several entries from a blocklist in one request. The request body is the shape the blocklist named by list_type accepts. Only the avatar-hash and profile-substring blocklists accept this operation, reported as supports_bulk_delete by GET /admin/blocklists.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBlocklistBulkDeleteRequest"}}}
				}
			}
		},
		"/admin/blocklists/{list_type}/entries/{entry_value}": {
			"get": {
				"operationId": "get_admin_blocklist_entry",
				"summary": "Check blocklist entry",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Report whether a value is currently blocked by a blocklist. The value is percent-encoded in the path. An IP address can still match a broader stored CIDR entry, and a URL can match a banned domain. The profile-substring blocklist requires a scope.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					},
					{
						"name": "entry_value",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The entry value"
					},
					{
						"name": "scope",
						"in": "query",
						"required": false,
						"schema": {
							"enum": ["username", "global_name", "nickname", "bio", "pronouns"],
							"type": "string",
							"description": "Profile field the entry is scoped to. Required on the profile-substring blocklist and rejected on every other blocklist."
						}
					}
				]
			},
			"patch": {
				"operationId": "update_admin_blocklist_entry",
				"summary": "Update blocklist entry",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Rewrite the stored fields of a blocklist entry without removing and re-adding it. The stored metadata is replaced by the supplied fields, so fields left out fall back to their defaults. Only blocklists whose entries carry fields accept this operation, reported as supports_update by GET /admin/blocklists.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					},
					{
						"name": "entry_value",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The entry value"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBlocklistEntryUpdateRequest"}}}
				}
			},
			"delete": {
				"operationId": "delete_admin_blocklist_entry",
				"summary": "Remove blocklist entry",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Remove an entry from a blocklist. The value is percent-encoded in the path and is canonicalized the same way it was on add, so an IP covered only by a broader CIDR entry cannot be removed through the narrower address. The profile-substring blocklist requires a scope.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "list_type",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The list type"
					},
					{
						"name": "entry_value",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The entry value"
					},
					{
						"name": "scope",
						"in": "query",
						"required": false,
						"schema": {
							"enum": ["username", "global_name", "nickname", "bio", "pronouns"],
							"type": "string",
							"description": "Profile field the entry is scoped to. Required on the profile-substring blocklist and rejected on every other blocklist."
						}
					}
				]
			}
		},
		"/admin/bulk-jobs": {
			"post": {
				"operationId": "create_admin_bulk_job",
				"summary": "Queue a bulk job",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkJobResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Enqueue one background administrative job. The `task` discriminator selects both the body variant and the ACL evaluated for the request: `update_user_flags` needs bulk:update:user_flags, `update_suspicious_activity_flags` needs bulk:update:suspicious_activity, `update_guild_features` needs bulk:update:guild_features, `add_guild_members` needs bulk:add:guild_members, `schedule_user_deletion` needs bulk:delete:users, and `delete_user_messages` needs bulk:delete:user_messages. Returns a job_id immediately; observe progress at /admin/jobs/:job_id. Note: the schedule_user_deletion worker skips Stripe refunds, session termination, and identifier banning — apply those separately for high-risk accounts.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBulkJobCreateRequest"}}}
				}
			}
		},
		"/admin/channels/{channel_id}/messages": {
			"get": {
				"operationId": "list_admin_channel_messages",
				"summary": "List channel messages",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BrowseChannelResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Pages through the messages of a channel, newest first, with cursor-based pagination. Requires MESSAGE_LOOKUP permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {"type": "string", "description": "Number of messages to return (1-100, default 50)"}
					},
					{
						"name": "before",
						"in": "query",
						"required": false,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"}
					},
					{"name": "after", "in": "query", "required": false, "schema": {"$ref": "#/components/schemas/SnowflakeType"}}
				]
			}
		},
		"/admin/channels/{channel_id}/messages/{message_id}": {
			"get": {
				"operationId": "get_admin_message",
				"summary": "Get message",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LookupMessageResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves complete message details including content, attachments, edits, and metadata, together with the messages surrounding it. Requires MESSAGE_LOOKUP permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					},
					{
						"name": "message_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the message"
					},
					{
						"name": "context_limit",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"description": "How many messages surrounding the requested message to return as context (1-100, default 50)"
						}
					}
				]
			},
			"delete": {
				"operationId": "delete_admin_message",
				"summary": "Delete message",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteMessageResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Deletes a single message permanently and purges its attachments. Used for removing inappropriate or harmful content. Logged to audit log. Requires MESSAGE_DELETE permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					},
					{
						"name": "message_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the message"
					}
				]
			}
		},
		"/admin/discovery/applications": {
			"get": {
				"operationId": "list_admin_discovery_applications",
				"summary": "List discovery applications",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {"$ref": "#/components/schemas/DiscoveryAdminPendingApplicationResponse"}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns every pending discovery application, enriched with guild metadata. No pagination. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/discovery/applications/{guild_id}": {
			"patch": {
				"operationId": "update_admin_discovery_application",
				"summary": "Review discovery application",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryApplicationResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Approve or reject a pending discovery application. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "guild_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the guild"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryAdminApplicationUpdateRequest"}}
					}
				}
			}
		},
		"/admin/discovery/categories": {
			"get": {
				"operationId": "list_admin_discovery_categories",
				"summary": "List discovery categories",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryCategoryListResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns every discovery category a listing can be filed under. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/discovery/categories/{category_id}/listings": {
			"get": {
				"operationId": "list_admin_discovery_category_listings",
				"summary": "List guilds in a discovery category",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DiscoveryAdminListedGuildResponse"}}
							}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns an offset page of the guilds listed under one discovery category, most members first, enriched with guild metadata. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "category_id",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The category id"
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"format": "int32",
							"description": "Number of listings to return"
						}
					},
					{
						"name": "offset",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer",
							"minimum": 0,
							"maximum": 10000,
							"format": "int32",
							"description": "Pagination offset"
						}
					}
				]
			}
		},
		"/admin/discovery/listings": {
			"get": {
				"operationId": "list_admin_discovery_listings",
				"summary": "List discovery listings",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {"type": "array", "items": {"$ref": "#/components/schemas/DiscoveryAdminListedGuildResponse"}}
							}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns every approved/listed discovery guild, enriched with guild metadata. No pagination. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}]
			},
			"patch": {
				"operationId": "bulk_update_admin_discovery_listing_category",
				"summary": "Move discovery listings to a category",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryAdminListingBulkCategoryResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Files every named discovery listing under one category. Every guild is attempted and the ones that could not be moved are reported. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryAdminListingBulkCategoryRequest"}}
					}
				}
			}
		},
		"/admin/discovery/listings/{guild_id}": {
			"patch": {
				"operationId": "update_admin_discovery_listing",
				"summary": "Update discovery listing",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryApplicationResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Edit the description, category, language, or tags of a discovery listing without delisting the guild. Requires DISCOVERY_REVIEW permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "guild_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the guild"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryApplicationPatchRequest"}}}
				}
			},
			"delete": {
				"operationId": "delete_admin_discovery_listing",
				"summary": "Remove discovery listing",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryApplicationResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Remove an approved guild from discovery. Requires DISCOVERY_REMOVE permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "guild_id",
						"in": "path",
						"required": true,
						"schema": {"$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the guild"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryAdminRemoveRequest"}}}
				}
			}
		},
		"/admin/gateway/memory-stats": {
			"get": {
				"operationId": "get_admin_gateway_memory_stats",
				"summary": "Get guild memory statistics",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GuildMemoryStatsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns heap and resident memory usage per guild. Requires GATEWAY_MEMORY_STATS permission.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"description": "Maximum number of guild processes to return (100-1000, default 100)"
						}
					}
				]
			}
		},
		"/admin/gateway/reloads": {
			"post": {
				"operationId": "create_admin_gateway_reload",
				"summary": "Reload gateway guilds",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReloadAllGuildsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Reconnects to the database and re-syncs guild state. Used for recovery after data inconsistencies. Requires GATEWAY_RELOAD_ALL permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReloadGuildsRequest"}}}
				}
			}
		},
		"/admin/gateway/stats": {
			"get": {
				"operationId": "get_admin_gateway_stats",
				"summary": "Get gateway node statistics",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/NodeStatsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns uptime, process memory, and guild count. Used to monitor gateway health and performance. Requires GATEWAY_MEMORY_STATS permission.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/gateway/voice-state-counts": {
			"get": {
				"operationId": "get_admin_gateway_voice_state_counts",
				"summary": "Get gateway voice state counts",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/GatewayVoiceStateCountsResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns active voice state counts grouped by voice region and voice server. Requires GATEWAY_MEMORY_STATS permission.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/gift-codes": {
			"post": {
				"operationId": "create_admin_gift_codes",
				"summary": "Issue gift codes",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CodesResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
[...]
